<div class="game-selection">

  <div class="custom-game-choice">
    <div class="custom-board-outline">
      <div class="custom-board-text-container">
        <div class="custom-board-text">
          Custom Board
        </div>
      </div>
    </div>
    <button class="select-custom-game" (click)="startCustomGameSetup()">
      Select
    </button>
    <div class="custom-set-outline">
      <div class="custom-set-text-container">
        <div class="custom-set-text">
          Custom Set
        </div>
      </div>
    </div>
  </div>

  <app-game-choice
    *ngFor="let game of getPreMadeGames()"
    [game]="game">
  </app-game-choice>
  
</div>
