.player {
  padding: 10px 20px;
  border: 1px solid var(--foreground_color);
  border-radius: 30px;
  text-transform: uppercase;
  position: absolute;
  text-align: left;
  height: 100%;
  background-color: var(--background_color);
  margin-top: 3px;
}

.player1 {
  left: 0;
  right: 51%;
}

.player2 {
  left: 51%;
  right: 0;
}

.player.active {
  border: 4px solid;
  margin-top: 0;
}

.player1.active {
  border-color: var(--player_1_color);
}

.player2.active {
  border-color: var(--player_2_color);
}

.player-name {
  font-size: 35px;
  height: 45px;
}

.end-turn {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 40px;
}

.player-points {
  position: relative;
  width: 170px;
  height: 34px;
  margin-top: 3px;
}

.points-value {
  font-size: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.arrows,
.arrows-bg {
  position: absolute;
  left: 0;
}

.arrows {
  left: 2.5px;
  top: 2.5px;
}

.arrow-up-bg,
.arrow-down-bg {
  display: inline-block;
  margin-right: -10.3px;
}

.arrow-up-bg {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid black;
}

.arrow-down-bg {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid black;
}

.arrow-up,
.arrow-down {
  display: inline-block;
  margin-right: -5px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 25px solid #555;
}

.arrow-up.arrow-active {
  border-bottom-color: gold;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 25px solid #555;
}

.arrow-down.arrow-active {
  border-top-color: gold;
}