.player {
  display: inline-block;
  width: 44%;
  padding: 10px 20px;
  /* Placeholder border to avoid dom shifting. */
  border: 4px solid transparent;
  border-radius: 30px;
  text-transform: uppercase;
  position: absolute;
  text-align: left;
}

.player1 {
  left: 0;
  right: 50%;
}

.player2 {
  right: 0;
  left: 50%;
}

.player.active {
  border: 4px solid;
}

.player1.active {
  border-color: var(--player_1_color);
}

.player2.active {
  border-color: var(--player_2_color);
}

.player-name {
  font-size: 40px;
}

.points-value {
  margin-left: 20px;
  font-size: 36px;
  display: inline-block;
  margin-top: -8px;
}

.arrow-up, .arrow-down {
  display: inline-block;
  margin-right: -6px;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  
  border-bottom: 25px solid gold;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  
  border-top: 25px solid gold;
}

.end-turn {
  position: absolute;
  right: 20px;
  top: 10px;
}