<div class="piece-placement">

  <div class="piece-set-container">
    <div *ngFor="let piece of getPieces()"
        class="piece-container"
        [ngClass]="{
          'selected': isSelected(piece),
          'placed': hasBeenPlaced(piece)
        }"
        (pointerdown)="select(piece)">
      <app-piece [piece]="piece"></app-piece>
    </div>
  </div>

  <div class="left-panel">
    <app-selected></app-selected>
  </div>

  <div class="right-panel">
    <app-board [board]="getGame().getBoard()"></app-board>
  </div>
</div>