.left-panel,
.right-panel {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
}

.left-panel {
  margin-top: 140px;
  margin-right: 40px;
  position: relative;
  margin-left: 40px;
}

.right-panel {
  margin-top: 140px;
  margin-right: 40px;
}