<div class="terrain-selector">
  <div class="terrain-selector-title">
    Terrain
  </div>
  <div class="terrain-selector-list">
    <app-terrain-item [terrain]="mountain"></app-terrain-item>
    <app-terrain-item [terrain]="hill"></app-terrain-item>
    <app-terrain-item [terrain]="forest"></app-terrain-item>
    <app-terrain-item [terrain]="grassland"></app-terrain-item>
    <app-terrain-item [terrain]="marsh"></app-terrain-item>
    <app-terrain-item [terrain]="chasm"></app-terrain-item>
  </div>
</div>
