.dialog-overlay {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  top: 0;
  left: 0;
  z-index: 10;
}

.dialog {
  font-size: 100px;
  background: var(--background_color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: 5px solid var(--foreground_color);
  padding: 40px;
  z-index: 11;
}

.new-game {
  display: block;
  margin: auto;
  padding: 10px 30px;
  margin-top: 20px;
}