<div class="piece-set-selector">
  <div class="piece-set-selector-title">
    Pre-Built Sets
  </div>
  <div class="piece-set-selector-list">
    <app-piece-set [pieceSet]="pieceSetCollection.createSet1()"></app-piece-set>
    <app-piece-set [pieceSet]="pieceSetCollection.createSet2()"></app-piece-set>
    <app-piece-set [pieceSet]="pieceSetCollection.createSet3()"></app-piece-set>
    <app-piece-set [pieceSet]="pieceSetCollection.createSet4()"></app-piece-set>
    <app-piece-set [pieceSet]="pieceSetCollection.createSet5()"></app-piece-set>
    <app-piece-set [pieceSet]="pieceSetCollection.createSet6()"></app-piece-set>
    <app-piece-set [pieceSet]="pieceSetCollection.createSet7()"></app-piece-set>
    <app-piece-set [pieceSet]="pieceSetCollection.createSet8()"></app-piece-set>
  </div>
</div>
