body {
    text-align: center;
    margin-top: 60px;
}
.cell {
    border: solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
}
.cell:hover {
    background-color: lightgreen;
}
.piece {
    float: left;
    text-align: center;
    width: 100%;
    height: 100%;
    border: solid cornflowerblue 4px;
    margin-top: -5px;
    margin-left: -5px;
}
.piece > img {
    width: 100%;
}
.piece.selected {
    border: solid lightgreen 4px;
}