<div class="selected-panel">

  <!-- Nothing Selected -->
  <div *ngIf="!getSelected()" class="selected-content nothing-selected">
    <div class="selected-piece-name">
      Nothing selected
    </div>
    <img class="nothing-selected-image" src="/images/nothing_selected.jpg">
  </div>

  <div *ngIf="getSelected()" class="selected-content">

    <!-- Piece Selected -->
    <div *ngIf="getSelected()!.hasPiece()">
      <div class="selected-piece-name">
        {{getSelected()!.getPiece()!.name}}
      </div>
      <div class="selected-piece-type">
        TODO: TYPE
      </div>
      <div class="selected-piece-image-container">
        <img class="selected-piece-image" src="{{getSelected()!.getPiece()!.imageUrl}}">
        <div class="selected-piece-points">
          VP: {{getSelected()!.getPiece()!.points}}
        </div>
      </div>
      <div class="selected-piece-stats">
        <div class="selected-piece-stat">
          AT: {{getSelected()!.getPiece()!.attack}}
        </div>
        <div class="selected-piece-stat">
          AR: {{getSelected()!.getPiece()!.attackRange}}
        </div>
        <div class="selected-piece-stat">
          MV: {{getSelected()!.getPiece()!.movement}}
        </div>
        <div class="selected-piece-stat">
          HP: {{getSelected()!.getPiece()!.maxHealth}}
        </div>
      </div>
      <div class="additional-details">
        No skills for this machine.
      </div>
    </div>

    <!-- Terrain Selected -->
    <div *ngIf="!getSelected()!.hasPiece()">
      <div class="selected-piece-name">
        {{getSelected()!.terrain.type}}
      </div>
      <div class="selected-terrain-image-container">
        <img class="selected-terrain-image" src="/images/{{getSelected()!.terrain.type}}.png">
      </div>
      <div class="additional-details">
        This terrain gives {{getSelected()!.terrain.elevation}} to power.
      </div>
    </div>
  </div>
</div>