<div class="selected-panel">

  <!-- Nothing Selected -->
  <div *ngIf="!getSelected()" class="selected-content nothing-selected">
    <div class="nothing-selected-title">
      Nothing selected
    </div>
    <div class="nothing-selected-instructions">
      Select a piece to move or attack.
    </div>
  </div>

  <div *ngIf="getSelected()" class="selected-content">

    <!-- Piece Selected -->
    <div *ngIf="getSelected()!.hasPiece()">
      <div class="selected-piece-name">
        {{getPiece().name}}
      </div>
      <div class="selected-piece-type">
        <b>TYPE: </b>{{getPiece().getPieceType()}}
      </div>
      <div class="selected-piece-type-description" [innerHTML]="getPieceTypeDescription()">
      </div>
      <div class="selected-piece-image-container">
        <img class="selected-piece-image" src="{{getPiece().imageUrl}}">
        <div class="selected-piece-points">
          VP: {{getPiece().points}}
        </div>
      </div>
      <div class="selected-piece-stats">
        <div class="selected-piece-stat">
          AT: {{getPiece().attackPower}}
        </div>
        <div class="selected-piece-stat">
          AR: {{getPiece().attackRange}}
        </div>
        <div class="selected-piece-stat">
          MV: {{getPiece().moveRange}}
        </div>
        <div class="selected-piece-stat">
          HP: {{getPiece().maxHealth}}
        </div>
      </div>
      <div *ngIf="getPiece().hasAbility()" class="additional-details" [innerHTML]="getAbilityDescription()">
      </div>
      <div *ngIf="!getPiece().hasAbility()" class="additional-details">
        No skills for this machine.
      </div>
    </div>

    <!-- Terrain Selected -->
    <div *ngIf="!getSelected()!.hasPiece()">
      <div class="selected-piece-name">
        {{getTerrain().type}}
      </div>
      <div class="selected-terrain-image-container">
        <img class="selected-terrain-image" src="/images/terrain/{{getTerrain().type}}.png">
      </div>
      <div class="additional-details">
        <span [innerHTML]="getTerrainDescription()">
        </span>
        <span *ngIf="getTerrain().note"><br><br><b>NOTE: </b>{{getTerrain().note}}</span>
      </div>
    </div>
  </div>
</div>