<div class="header">
  <img src="/images/banner.png">
  <div class="title" (click)="navigateHome()">Strike</div>
  <audio class="audio-controls" controls loop>
    <!--<source src="/audio/rusted_sands.mp3" type="audio/mpeg">-->
    <!--<source src="/audio/awash.mp3" type="audio/mpeg">-->
    <source src="/audio/the_sanctuary_of_zi'tah.mp3" type="audio/mpeg">
  </audio>
</div>

<div class="app-background">
  <img src="/images/body_background.webp">
</div>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="horizon-attribution">
    Trademarks are the property of their respective owners.
    Game content and materials (c) Guerrilla Games and Sony Interactive Entertainment.
    All rights reserved.
  </div>
</div>
