.all-piece-item {
  cursor: pointer;
  border: 3px solid transparent;
  padding: 3px;
  margin-bottom: -3px;
}

.all-piece-item.selected {
  border: 3px solid white;
}

.add-piece-button {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  position: relative;
  margin-right: 6px;
}

.add-piece-button>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
}

.all-piece-item-name {
  font-size: 18px;
}
