<div class="board-selector">
  <div class="board-selector-title">
    Board Selector
  </div>
  <div class="board-selector-list">
    <app-board-item [board]="boardCollection.createBoard1()"></app-board-item>
    <app-board-item [board]="boardCollection.createBoard2()"></app-board-item>
    <app-board-item [board]="boardCollection.createBoard3()"></app-board-item>
    <app-board-item [board]="boardCollection.createBoard4()"></app-board-item>
    <app-board-item [board]="boardCollection.createBoard5()"></app-board-item>
    <app-board-item [board]="boardCollection.createBoard6()"></app-board-item>
    <app-board-item [board]="boardCollection.createBoard7()"></app-board-item>
    <app-board-item [board]="boardCollection.createBoard8()"></app-board-item>
  </div>
</div>
