.board {
  /* Unsure about this display value. */
  display: inline-grid;
  border: solid var(--foreground_color) 1px;
  vertical-align: top;
}

app-cell{
  display: inline-flex;
  vertical-align: top;
}
