app-cell {
  display: inline-flex;
  vertical-align: top;
}

.board {
  width: 800px;
  position: relative;
  margin: auto;
}

.mirror-block {
  position: absolute;
  top: 397px;
  z-index: var(--z_mirror_overlay);
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 50%);
  border-top: 5px dashed white;
}

.mirror-block-text {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}