.piece {
  width: 100%;
  height: 100%;
  border: solid 4px transparent;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 54px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--background_color);
}

.piece.player1 {
  border-color: var(--player_1_color);
}

.piece.player2 {
  border-color: var(--player_2_color);
}

.piece-outline {
  width: 100%;
  height: 100%;
  position: absolute;
}
.piece-outline > div {
  position: absolute;
}
.piece-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.piece-left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.piece-right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.piece-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.piece-name {
  position: absolute;
  left: 0;
  right: 0;
  top: 38%;
}

.piece-health {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8%;
}

.piece-buttons {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.piece-button {
  position: absolute;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.piece-button-img-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.piece-button-img-container > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cancel-selection {
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
}
.cancel-selection-image {
  width: 65%;
}

.confirm-move {
  left: -40px;
  top: 5px;
}
.confirm-move-image {
  width: 65%;
}

.confirm-attack {
  right: -40px;
  top: 5px;
}
.confirm-attack-image {
  width: 50%;
}

.rotate-cw {
  left: -20px;
  bottom: -30px;
}
.rotate-cw-image {
  width: 60%;
}

.rotate-ccw {
  right: -20px;
  bottom: -30px;
}
.piece-button-img-container > img.rotate-ccw-image {
  width: 60%;
  transform: translate(-50%, -50%) scaleX(-1);
}
