.piece {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  color: black;
  z-index: var(--z_piece);
}

// =============================================
// Piece Outline
// =============================================
.piece-outline {
  width: 100%;
  height: 100%;
  position: absolute;
}

.piece-outline>div {
  position: absolute;
}

.piece-top {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.piece-top-triangle-outline,
.piece-top-triangle-background {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.piece-top-triangle-outline {
  top: 10px;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
  border-bottom: 30px solid var(--neutral_color); // color placeholder
}

.piece-top-triangle-background {
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-bottom: 30px solid var(--neutral_color); // color placeholder
}

.strength-strong .piece-top-triangle-outline {
  border-bottom-color: var(--strong_color);
}

.strength-weak .piece-top-triangle-outline {
  border-bottom-color: var(--weak_color);
}

.piece-top-triangle-background {
  top: 16px;
}

.player1 .piece-top-triangle-background {
  border-bottom-color: var(--player_1_color);
}

.player2 .piece-top-triangle-background {
  border-bottom-color: var(--player_2_color);
}

.player1 .piece-background {
  background-color: var(--player_1_color);
}

.player2 .piece-background {
  background-color: var(--player_2_color);
}

.piece-background,
.piece-left,
.piece-right,
.piece-bottom {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border: 5px solid transparent; // color placeholder
}

.strength-strong.piece-left {
  border-left-color: var(--strong_color);
}

.strength-weak.piece-left {
  border-left-color: var(--weak_color);
}

.strength-neutral.piece-left {
  border-left-color: var(--neutral_color);
}

.strength-strong.piece-right {
  border-right-color: var(--strong_color);
}

.strength-weak.piece-right {
  border-right-color: var(--weak_color);
}

.strength-neutral.piece-right {
  border-right-color: var(--neutral_color);
}

.strength-strong.piece-bottom {
  border-bottom-color: var(--strong_color);
}

.strength-weak.piece-bottom {
  border-bottom-color: var(--weak_color);
}

.strength-neutral.piece-bottom {
  border-bottom-color: var(--neutral_color);
}

// =============================================
// Piece Name
// =============================================
.piece-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
}

// =============================================
// Piece Health
// =============================================
.piece-health {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
}

.piece-health>img {
  position: absolute;
  width: 27px;
  right: 2px;
  bottom: 2px;
}

.piece-health-number {
  position: absolute;
  bottom: 6px;
  right: 8px;
  font-size: 14px;
  color: white;
  transform: translateX(-50%);
}

// =============================================
// Piece Attack
// =============================================
.piece-attack {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
}

.piece-attack-background {
  bottom: 5px;
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 40px;
}

.piece-attack>img {
  position: absolute;
  width: 26px;
  left: 3px;
  bottom: 3px;
}

.piece-attack-number {
  position: absolute;
  bottom: 6px;
  left: 16px;
  font-size: 14px;
  color: white;
  transform: translateX(-50%);
}

// =============================================
// Piece Defense
// =============================================
.piece-defense {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
}

.piece-defense>img {
  position: absolute;
  width: 26px;
  left: 3px;
  bottom: 3px;
}

.piece-defense-number {
  position: absolute;
  bottom: 6px;
  left: 16px;
  font-size: 14px;
  color: white;
  transform: translateX(-50%);
}

// =============================================
// Piece Knockback/Pull
// =============================================
.knockback-pull-indicator-container {
  position: absolute;
  z-index: var(--z_kb_pull_indicator);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.knockback-pull-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
}

.knockback-pull-indicator span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(225deg);
  animation: knockback_pull_animate 1.5s infinite;
  margin-left: 33px;
  margin-top: -30px;
  border-bottom-color: var(--attack_color);
  border-right-color: var(--attack_color);

}

.knockback-pull-indicator span:nth-child(2) {
  animation-delay: -0.2s;
}

.knockback-pull-indicator span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes knockback_pull_animate {
  0% {
      opacity: 0;
      transform: rotate(225deg) translate(-15px, -15px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(225deg) translate(15px, 15px);
  }
}

// =============================================
// Piece Buttons
// =============================================
.piece-buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z_piece_buttons);
}

.piece-button {
  position: absolute;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.piece-button-img-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.piece-button-img-container>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cancel-selection {
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
}

.cancel-selection-image {
  width: 65%;
}

.confirm-move {
  left: -45px;
  top: -45px;
}

.confirm-move-image {
  width: 65%;
}

.confirm-attack {
  right: -45px;
  top: -45px;
}

.confirm-attack-image {
  width: 50%;
}

.rotate-cw {
  left: -45px;
  bottom: -45px;
}

.rotate-ccw {
  right: -45px;
  bottom: -45px;
}

.rotate-cw-image,
.rotate-ccw-image {
  width: 60%;
}

.piece-button-img-container>img.rotate-cw-image {
  transform: translate(-50%, -50%) scaleX(-1) rotate(-90deg);
}

.piece-button-img-container>img.rotate-ccw-image {
  transform: translate(-50%, -50%) rotate(-90deg);
}