.piece {
  width: 100%;
  height: 100%;
  border: solid 3px transparent;
  margin-top: -3px;
  margin-left: -3px;
}

.piece.player1 {
  border-color: cornflowerblue;
}

.piece.player2 {
  border-color: coral;
}
