<div
    *ngIf="piece"
    [ngClass]="{
      'piece': true,
      'moved': piece.moved,
      'player1' : piece.player.id == 'player1',
      'player2' : piece.player.id == 'player2'
      }">
  <div class="piece-name">{{piece.name}}</div>
  <div class="piece-health">❤ {{piece.getHealth()}}</div>
  <div *ngIf="piece.selected" class="piece-selected-buttons">
    <button class="piece-selected-button cancel-selection"
        (click)="cancel($event)">
      <img src="/images/icon/cancel_icon_2.png">
    </button>
    <button class="piece-selected-button confirm-move"
        (click)="confirmMove($event)">
      <img src="/images/icon/move_icon.ico">
    </button>
    <button class="piece-selected-button confirm-attack"
        (click)="confirmAttack($event)">
      <img src="/images/icon/attack_icon.png">
    </button>
    <button class="piece-selected-button rotate-cw"
        (click)="rotateClockwise($event)">
      <img src="/images/icon/rotate_icon.ico">
    </button>
    <button class="piece-selected-button rotate-ccw"
        (click)="rotateCounterClockwise($event)">
      <img src="/images/icon/rotate_icon.ico">
    </button>
  </div>
</div>
