.piece {
  width: 100%;
  height: 100%;
  border: solid 4px transparent;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 30px;
}

.piece.player1 {
  border-color: var(--player_1_color);
}

.piece.player2 {
  border-color: var(--player_2_color);
}
