.cell {
  border: solid var(--foreground_color) 1px;
  padding: 4px;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  cursor: default;
}

.cell:hover {
  background: var(--hover_color);
}

.cell-selected {
  border: solid var(--foreground_color) 6px;
  width: 108px;
  height: 108px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  z-index: 1;
}

.cell-terrain {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 3px;
}
.cell-terrain-image {
  width: 100%;
}

.cell-selected.cell-has-piece {
  border-radius: 60px;
  width: 108px;
  height: 108px;
  margin-left: -10px;
  margin-top: -10px;
}

.cell-available-move {
  border: solid var(--foreground_color) 1px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  position: absolute;
  top: 14px;
  left: 14px;
  cursor: pointer;
}

.cell-move-symbol-1, .cell-move-symbol-2 {
  font-size: 35px;
  position: absolute;
  top: 18px;
  left: 20px;
}
.cell-move-symbol-2 {
  transform: rotate(90deg);
}

.cell-available-attack {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  background: firebrick;
  cursor: pointer;
}

.cell-attack-symbol {
  font-size: 45px;
  margin-top: -5px;
}