.cell {
  border: solid black 1px;
  width: 100px;
  height: 100px;
}

.cell-selected {
  border: solid black 6px;
  width: 100px;
  height: 100px;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
}

.cell:hover {
  background-color: lightgreen;
}