.cell {
  border: solid black 1px;
  padding: 4px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.cell-selected {
  border: solid black 6px;
  width: 108px;
  height: 108px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
}

.cell:hover {
  background-color: lightgreen;
}