.cell {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: default;
  background: black;
}

.cell:hover .cell-available-move,
.cell:hover .cell-available-sprint {
  cursor: pointer;
}

.cell:hover .cell-available-attack {
  cursor: pointer;
}

.cell:hover .cell-where-attack-will-end {
  cursor: default;
}

.cell-selected {
  border: solid var(--foreground_color) 6px;
  width: 100px;
  height: 100px;
  margin-left: -6px;
  margin-top: -6px;
  position: absolute;
  z-index: var(--z_cell_selected);
}

.cell-terrain {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 2px;
  box-shadow: 10px 10px 10px black;
}

.cell-terrain.mountain {
  z-index: var(--z_mountain);
}
.cell-terrain.hill {
  z-index: var(--z_hill);
}
.cell-terrain.forest {
  z-index: var(--z_forest);
}
.cell-terrain.grassland {
  z-index: var(--z_grassland);
}
.cell-terrain.marsh {
  z-index: var(--z_marsh);
}
.cell-terrain.chasm {
  z-index: var(--z_chasm);
}

.cell-terrain-image {
  width: 100%;
}

.cell-available-move,
.cell-available-sprint,
.cell-where-attack-will-end {
  border: solid white 3px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z_available_indicator);
}

.cell-where-attack-will-end {
  background-color: var(--attack_color);
  border-color: black;
  opacity: 50%;
}

.cell-available-move>img,
.cell-available-sprint>img,
.cell-where-attack-will-end>img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}

.cell-available-sprint {
  width: 50px;
  height: 50px;
  border-style: dashed;
}

.cell-will-be-attacked,
.cell-in-attack-range {
  border: solid black 3px;
  width: 50px;
  height: 50px;
  border-radius: 80px;
  background: var(--attack_color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z_available_indicator);
}

.cell-in-attack-range {
  border-style: dashed;
}

.cell-will-be-attacked>img,
.cell-in-attack-range>img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}