<div
    [ngClass]="{
      'cell': true,
      'selected': cell.isSelected()
      }"
    (click)="select()">
  <div *ngIf=cell.isSelected()
    [ngClass]="{'cell-selected': true, 'cell-has-piece': cell.hasPiece()}"></div>

  <div *ngIf=cell.isAvailableMove() class="cell-available-move">
    <!-- alternatives: ⁜, ☩, 🕂, ↔, ↕, ⟷ -->
    <div class="cell-move-symbol-1">⟷</div>
    <div class="cell-move-symbol-2">⟷</div>
  </div>

  <div *ngIf=cell.isAvailableAttack() class="cell-available-attack">
    <!-- alternative: ⚔, ⤲ -->
    <div class="cell-attack-symbol">⤱</div>
  </div>

  <!-- TODO: Render terrain once supported. -->

  <!-- Render the piece. -->
  <app-piece [piece]="cell.getPiece()!"></app-piece>
</div>
