<div class="cell" [ngClass]="{'selected': cell.selected}" (click)="onCellClicked()">
  <div class="cell-terrain" class="{{cell.terrain.type}}">
    <img class="cell-terrain-image" src="/images/terrain/{{cell.terrain.type}}.png">
  </div>
  <div *ngIf=cell.selected class="cell-selected" [ngClass]="{'cell-has-piece': cell.hasPiece()}"></div>

  <div *ngIf=cell.availableMove class="cell-available-move">
    <img src="/images/icon/move_icon.ico">
  </div>
  <div *ngIf=cell.availableSprint class="cell-available-sprint">
    <img src="/images/icon/move_icon.ico">
  </div>

  <!-- Render the piece. -->
  <app-piece [piece]="cell.getPiece()!"></app-piece>

  <!-- Render this as an overlay on the piece. -->
  <div *ngIf=cell.willBeAttacked class="cell-will-be-attacked">
    <img src="/images/icon/attack_icon_2.webp">
  </div>
  <div *ngIf=showAttackInRange() class="cell-in-attack-range">
    <img src="/images/icon/attack_icon_2.webp">
  </div>
  <div *ngIf=cell.whereAttackWillEnd class="cell-where-attack-will-end">
    <img src="/images/icon/move_icon.ico">
  </div>
</div>