.cell {
  border: solid black 1px;
  padding: 3px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.cell-selected {
  border: solid black 6px;
  width: 106px;
  height: 106px;
  margin-left: -9px;
  margin-top: -9px;
  position: absolute;
}

.cell:hover {
  background-color: lightgreen;
}