:root {
  --background_color: #333;
  --foreground_color: #fff;
  --hover_color: #555;

  --header_height: 100px;

  --player_1_color: lightcyan;
  //--player_1_color: cadetblue;
  //--player_1_color: darkseagreen;
  //--player_1_color: lightblue;
  //--player_1_color: lightyellow;
  //--player_1_color: lightgoldenrodyellow;

  //--player_2_color: bisque;
  --player_2_color: khaki;

  --buffed_color: springgreen;
  //--buffed_color: mediumspringgreen;
  //--buffed_color: lime;
  //--buffed_color: limegreen;

  --debuffed_color: orangered;
  //--debuffed_color: tomato;
  //--debuffed_color: deeppink;
  //--debuffed_color: red;

  --strong_color: #2CA3E8;
  //--strength_color: #35A1C9;
  --neutral_color: black;
  --weak_color: #E43022;

  --attack_color: yellow;
}