// This import makes the :root variables globally available to all scss.
@import '_variables';

@font-face {
  font-family: Horizon;
  src: url(Horizon-nMeM.ttf);
}

body {
  font-family: Horizon;
  text-align: center;
  margin: 0;
  padding: 40px;
}