// This import makes the :root variables globally available to all scss.
@import '_variables';

@font-face {
  font-family: Horizon;
  src: url(Horizon-nMeM.ttf);
}

body {
  font-family: Horizon;
  text-align: center;
  margin: 0;
  padding: 40px;
  background-color: var(--background_color);
  color: var(--foreground_color);
}

button {
  font-family: Horizon;
  background: var(--foreground_color); // Intentional flip
  color: var(--background_color);
  border: 2px solid var(--background_color);
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background: #ddd;
}
button:active {
  background: #bbb;
}
